html{padding:0;margin:0;font-size:12px;font-family:Arial,"Courier New","Fixedsys","宋体";width:100%;text-align:center;background:#FFF;color:#000;}
body {width:1000px;margin:auto;text-align:center;color:#000;background:#ffffff;}
form {margin:0;padding:0;}
.logo {width:1000px;height:200px;margin-left:auto;margin-right:auto;text-align:center;background:url(school.jpg); overflow: hidden;}
.logo div{padding:70px 0px 0px 80px;font-size:40px;font-weight:bold;font-family:'华文中宋';color:#105BD8;text-align:left;}
a:link {color: #07519a;text-decoration:none;}     /* unvisited link */
a:visited {color: #07519a;text-decoration:none;}  /* visited link */
a:hover {color: #FF0000}   /* mouse over link */
a:active {color: #0000FF}   /* selected link */

#header_zone {}
#left_zone {background:#fff;}
#middle_zone {}
#right_zone {background:#fff;}
#bottom_zone {  }  
.control {cursor:pointer;}
.wrapper { border:3px double pink;}

.toolbox{ border:1px solid #C5D7EF; border-top-color:#7AA5D6; margin-bottom:10px;}
.title{line-height:22px; padding:0 5px; background:#E5ECF9; border-bottom:1px solid #C5D7EF; color:#36c; font-weight:bold;}
.control{float:right; margin-top:4px;cursor:pointer; font-weight:bold;}
.inner { margin:4px;}
.dm{visibility:hidden;}

.head_nav {text-align:left;}
.res_tab {width:100%;}
.tres {border:1px solid #ffffff;}
/* Two Tab Controls */
.gly {margin:auto;overflow:hidden;}
.gly_head {height:25px;background:#E5D5CB url(captionbg.jpg) repeat-x;border-top:1px solid #9AC8E1;}
.gly_head_left {height:25px;float:left;padding:4px 20px 0 10px;font-size:14px;margin-top:2px;color:#0C378D}
.gly_head_right {height:25px;float:right;padding:2px 10px 0 0;font-family:"BankGothic Md BT";color:#1f9a07;margin-top:2px;}
.gly_content { padding:10px 6px 6px 6px;text-align:center;color:#878787;}

.tab_outer {border:1px solid #9AC8E1;margin:auto;background:#fff;}
.tab {height:25px;background:url(tab_1.jpg) repeat-x;font-size:14px;}
.tab div {float:left;height:30px;padding:3px 10px 0 10px;font-size:14px;padding-top:4px;}
.tab div a {color:#000000;}

.tab_label_1 {display:none;float:left;width:90px;padding:0px 0px; background:url(tab_1.jpg) no-repeat;padding-top:4px;font-weight:bold;}
.tab_label_X {float:left;padding:2px 10px 0 10px;font-size:14px;}

.tab div.cur {float:left;background:#ffffff;height:25px;padding:3px 10px 0 10px; padding-top:4px;color:#000000}
.tab div.cur a {color:#000000;}
.tab_content{ padding:4px; background:#fff;position:relative;z-index:12;overflow:hidden;clear:both;color:#878787;}

.item_ul { margin:0;padding:0;padding-left:4px;list-style-type:none;clear:both;}
.item_ul li {padding-bottom:2px;background:url(d.gif) no-repeat 0 6px;padding-left:8px; border-bottom:1px dotted #ddd; display:block;margin-bottom:2px;}
.item_ul li span { float:right;}

.tree1 {border:1px solid #b0bec7;background:#FFF;position:relative;z-index:1;}
.tree1_c { margin:1px;background:#fff; padding:20px 0 10px 10px;position:relative;z-index:10;}

.odd_row{background:#eff5fc;}

.navbarleft{display:none;}
.navbarright{display:none;}
.navbar {width:1000px; margin:auto;height:36px;background-image:url(navbg.jpg);color:#000}
.navbar div { padding:4px;text-align:center;font-size:12px; padding-top:10px;}
.navbar div a{color:#000}
.navbar div span {padding:3px 2px;margin-top:-6px;height:30px;font-weight:bold;}
.navbar div span.splitbg{display:none}
.navbar div p{display:inline;}

.content_table {width:100%;border:1px solid #b0bec7;}
.content_table tbody td {padding:3px;}
.td_left {padding:0 6px;border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}
.td_middle {border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}
.td_right{border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}

.footer {width:1000px;height:140px;margin-top:0px;margin-left:auto;margin-right:auto;color:#878787}
.footer div{background:#D2D2D2;height:20px;}
.footer div div{width:100%;text-align:center;color:#878787}

.iconleft {vertical-align:top;padding:4px;width:66px;  }
.iconright {vertical-align:top;padding:4px;}
.icontable {width:250px;}

.m_2 { width:100%; }
.m_2 div {text-align:center; }
.s_p{width:242px;overflow:hidden;}
.mimg_container {padding:1px;border:1px solid #c1cdd7;clear:both;display:block;width:120px; }
.mimg_container img { width:120px; height:120px;}

.rank_left{width:20px;height:20px;vertical-align:top;background:url(num_.gif) no-repeat 3px 1px;text-align:center;color:#FFF;font-weight:bold;}
.rank_right {width:200px}

.miconleft {vertical-align:top;padding:4px; width:126px; }
.miconright {vertical-align:top;padding:4px;text-align:left;}
.mimg_container_a {border:1px solid #156d71;padding:1px;margin:auto;}

#container{width:1000px;MARGIN-RIGHT: auto; MARGIN-LEFT: auto; padding-top:4px;text-align:left;}
#container div{text-align:left;}

.lastlist {width:100%;background:#DDD;}
.lastlist tr { background:#FFF; }
.lastlist td {padding:6px; }
.lastlist th {padding:6px;background:#eee; }

.img_panel{float:left;padding:4px 0 0 4px;text-align:center;}
.img_div{width:124px;height:100px;overflow:hidden;}
.img_title{width:120px;text-align:center;padding:2px;}