html{padding:0;margin:0;font-size:12px;font-family:Arial,"Courier New","Fixedsys","宋体";width:100%;text-align:center;background:#FFF;color:#000;}
body {margin:auto;text-align: center;color:#000;background:url(pagebg.jpg) no-repeat;}
form {margin:0;padding:0;}
.logo {height:230px;text-align:center;}
.logo div{padding:30px 0px 0px 0px;font-size:40px;font-weight:bold;font-family:'华文中宋';color:#009DF7;text-align:center;}
a:link {color: #07519a;text-decoration:none;}     /* unvisited link */
a:visited {color: #07519a;text-decoration:none;}  /* visited link */
a:hover {color: #FF0000}   /* mouse over link */
a:active {color: #0000FF}   /* selected link */

#header_zone {}
#left_zone {background:#fff;}
#middle_zone {}
#right_zone {background:#fff;}
#bottom_zone {  }  
.control {cursor:pointer;}
.wrapper { border:3px double pink;}

.toolbox{ border:1px solid #C5D7EF; border-top-color:#7AA5D6; margin-bottom:10px;}
.title{line-height:22px; padding:0 5px; background:#E5ECF9; border-bottom:1px solid #C5D7EF; color:#36c; font-weight:bold;}
.control{float:right; margin-top:4px;cursor:pointer; font-weight:bold;}
.inner { margin:4px;}
.dm{visibility:hidden;}

.head_nav {}
.res_tab {width:100%;}
.tres {border:1px solid #ffffff;}

/* Two Tab Controls */
.gly {margin:auto;border:1px solid #D2D2D2;overflow:hidden;}
.gly_head {height:32px;background:url(tab_1.gif) repeat-x left bottom;}
.gly_head_left {height:32px;float:left;padding:4px 20px 0 10px;font-size:14px;font-weight:bold;}
.gly_head_right {height:32px;float:right;padding:2px 10px 0 0;font-family:"BankGothic Md BT";color:#1f9a07;margin-top:5px;}
.gly_content { padding:10px 6px 6px 6px;text-align:center;color:#878787;}

.Xgly {margin:auto;border:1px solid #D2D2D2;overflow:hidden;}
.Xgly_head {height:26px;background:url(ModuleCaptionBg.gif) repeat-x left bottom;}
.Xgly_head_left {height:26px;float:left;background:url(ModuleCaption.jpg) no-repeat left bottom;padding:4px 20px 0 10px;font-size:14px;font-weight:bold;}
.Xgly_head_right {height:26px;float:right;padding:2px 10px 0 0;font-family:"BankGothic Md BT";color:#1f9a07;margin-top:5px;}
.Xgly_content { padding:10px 6px 6px 6px;text-align:center;color:#878787;}


.tab_outer {border:1px solid #D2D2D2;margin:auto;background:#fff;}
.tab {height:32px;background:url(tab_1.gif) repeat-x;border-top:1px solid #DEDEDE;font-size:14px;}
.tab div {float:left;height:30px;padding:3px 10px 0 10px;font-size:14px;padding-top:8px;}
.tab div a {color:#484848;}

.tab_label_1 {display:none;float:left;width:90px;height:30px;padding:0px 0px; background:url(tab_1.gif) no-repeat;padding-top:8px;font-weight:bold;}
.tab_label_X {float:left;padding:2px 10px 0 10px;font-size:14px;font-weight:bold;padding-top:6px;}

.tab div.cur {float:left;border-left:1px solid #55B4EA;height:24px;padding:3px 10px 0 10px; background-color:#52C546;padding-top:8px;}
.tab div.cur a {color:#fff;}
.tab_content{ padding:4px; background:#fff;position:relative;z-index:12;overflow:hidden;clear:both;color:#878787;}

.item_ul { margin:0;padding:0;padding-left:4px;list-style-type:none;clear:both;}
.item_ul li {padding-bottom:2px;background:url(d.gif) no-repeat 0 6px;padding-left:8px; border-bottom:1px dotted #ddd; display:block;margin-bottom:2px;}
.item_ul li span { float:right;}

.tree1 {border:1px solid #b0bec7;background:#FFF;position:relative;z-index:1;}
.tree1_c { margin:1px;background:#eff5fc; padding:20px 0 10px 10px;position:relative;z-index:10;}

.odd_row{background:#eff5fc;}

.navbarleft{display:none;}
.navbarright{display:none;}
.navbar {width:1000px; border-left:1px solid #52C546; border-right:1px solid #52C546;margin:4px auto;height:44px;background-image:url(navbg.gif);}
.navbar div { padding:4px;text-align:center;font-weight:bold;font-size:14px; padding-top:14px}
.navbar div span {background:#52C546;padding:3px 10px;margin-top:-6px;height:30px}
.navbar div span.splitbg{display:none}
.navbar div p{display:inline;}

.content_table {width:100%;border:1px solid #b0bec7;}
.content_table tbody td {padding:3px;}
.td_left {padding:0 6px;border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}
.td_middle {border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}
.td_right{border-bottom:1px solid #b0bec7;background:url(resbg1.gif);height:19px;font-weight:bold;vertical-align:bottom;}

.footer {height:140px;margin-top:80px;}
.footer div div{width:100%;text-align:center}

.iconleft {vertical-align:top;padding:4px;width:66px;  }
.iconright {vertical-align:top;padding:4px;}
.icontable {width:250px;}

.m_2 { width:100%; }
.m_2 div {text-align:center; }
.s_p{width:242px;overflow:hidden;}
.mimg_container {padding:1px;border:1px solid #c1cdd7;clear:both;display:block;width:120px; }
.mimg_container img { width:120px; height:120px;}

.rank_left{width:20px;height:20px;vertical-align:top;background:url(num_.gif) no-repeat 3px 1px;text-align:center;color:#FFF;font-weight:bold;}
.rank_right {width:200px}

.miconleft {vertical-align:top;padding:4px; width:126px; }
.miconright {vertical-align:top;padding:4px;text-align:left;}
.mimg_container_a {border:1px solid #156d71;padding:1px;margin:auto;}

#container{width:1000px;MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
#container div{text-align:left;}
.lastlist {width:100%;background:#DDD;}
.lastlist tr { background:#FFF; }
.lastlist td {padding:6px; }
.lastlist th {padding:6px;background:#eee; }

.img_panel{float:left;padding:4px 0 0 4px;text-align:center;}
.img_div{width:124px;height:100px;overflow:hidden;}
.img_title{width:120px;text-align:center;padding:2px;}