html,body{ background:#ebebeb; font-size:12px;}
#header {
	background: transparent url(bg.jpg) no-repeat top center;
	height:612px;
	margin:auto;
	width:1000px;
}

#page_footer {width:1000px;margin:auto;background: url(bottom.gif) no-repeat center;height:168px;}

#container {margin:auto;margin-top:-340px;width:1000px;}
#toolbar {margin:auto;width:1000px;}

/* new Widget Style */
.widgetTable { width:100%;} /* 整个表格样式 */
.widgetHead {height:26px;} /* 表格头部样式  */
.widgetEdit {} /* 编辑区域样式，默认不可见  */
.widgetContent { background-color:#fbfbfb;padding:6px 0;} /* 内容区域样式 */
.widgetFoot {} /* 尾部样式 */

/* 头部的左中右3列 */
.h_lt {background:url(h_lt.jpg) no-repeat;width:16px;height:26px;}
.h_mt {background:url(h_mt.jpg) repeat-x;}
.h_rt {background:url(h_rt.jpg) no-repeat;width:14px;height:26px;}

/* 编辑区域左中右3列 */
.e_lt {background:url(c_lt.jpg);}
.e_mt {}
.e_rt {background:url(c_rt.jpg) right;}

/* 内容部分左中右3列 */
.c_lt {background:url(c_lt.jpg);}
.c_mt { }
.c_rt {background:url(c_rt.jpg) right;}

/* 表尾左中右3列 */
.f_lt {background:url(f_lt.jpg) no-repeat;height:18px;}
.f_mt {background:url(f_mt.jpg);}
.f_rt {background:url(f_rt.jpg);}


.widgetWindow {	margin-bottom:6px;} /* 每个块之间的间隔大小 */

.widgetFrame {}
.widgetHeader{padding:2px 0 0 0;}

.showWidget {
	background:url('ico_showMod.gif') no-repeat;
	width:20px;
	height:16px;
	float:left;
	display:none;
	cursor:pointer;
}
.hideWidget {
	background:url('ico_hideMod.gif') no-repeat;
	width:20px;	
	height:16px;
	float:left;
	display:none;
	cursor:pointer;
}

.close {
	background:url('ico_cls.gif') no-repeat;
	width:20px;
	height:16px;
	float:right;
	display:none;
	cursor:pointer;
}

.edit {
	float:right;
	display:none;
	cursor:pointer;
}

.options {
	float:left;
	display:none;
	cursor:pointer;
}

.refresh {
	float:right;
	background:url('ico_rfs.gif') no-repeat;
	width:20px;
	height:16px;
	display:none;
	cursor:pointer;
}

.ico {float:left;}
.title {font-weight:bold;}

a.icoBlog { padding-left:20px;background:url('ico_profile.gif') no-repeat left center; }
a.icoProfile { padding-left:20px;background:url('ico_profile.gif') no-repeat left center; }
a.icoFriend { padding-left:20px;background:url('ico_addLink.gif') no-repeat left center; }
a.icoMessage { padding-left:20px;background:url('ico_writeMessage.gif') no-repeat left center; }

/* 表格 */
.list_table {  }
.list_table thead { font-weight:bold; }
.list_table thead td { border-bottom:2px solid #369;padding-bottom:2px;}
.list_table tbody td { border-bottom:1px solid #09f;padding-bottom:2px;}

/* 通用行列模式样式 */
.wrapGridFrame{	padding-top:}
.wrapGridItem{margin-bottom:6px;border:1px solid #300;}
.wrapGridItemHeader {padding:4px;}
.wrapGridBody {	padding:4px;}
.floatRight {float:right;}
.floatLeft {float:left;}
.fontBold{font-weight:bold;}
.padding2px{padding:2px;}

/* article comment */
.commentTable {
width:100%;
background:pink;
 margin:0 0 6px 0;
}
.commentLeft{
 width:60px;
 background:#FFF;
 text-align:center;
 vertical-align:top;
 }
 .commentLeft img{ width:64px;height:64px;border:0px; }
.commentRight
{
	background:#FFF;
	width:100%;
	padding:6px;
}
.commentHeader{
 width:100%;
 border-bottom:1px solid #DDE;
 padding-bottom:4px;
}
.commentContent { padding:6px; }
.commentTitle { font-weight:bold; }